- provide(:title,"About")
%h1 About
%p
  The Computer Science faculty at the Citadel has found that retaining freshman students in the major can be challenging.
  There are far more freshman Computer Science students than the small faculty can meet with on a regular basis.
  Such lack of regular communication can lead to freshman becoming disenchanted with the Computer Science program before the faculty has the chance to intervene.
  To mitigate this issue, the faculty enlists the aid of upperclass students to mentor freshman, notifying faculty when mentees are struggling to stay in the program.
  This has proven to reduce the likelihood that freshman will leave the major for the wrong reasons. 
  However, it is important for faculty to keep track of interactions between mentors and mentees. 
  Previous attempts at mentoring experienced limited success due to communication breakdowns between mentors, mentees, and faculty.
%br
%p
  Guru4u is a web application aimed at helping the Computer Science faculty improve the retention of freshman by mitigating communication issues.
  It accomplishes this by enabling Computer Science faculty to maintain a mapping of upperclass mentors to freshmen mentees. 
  Mentors use Guru4u to record a brief report of an interaction with their mentees and automatically alert faculty about mentees that need follow-up.
  Faculty can subsequently review reports of interactions and identify mentees who have not been met with recently or are in need of immediate attention.