- provide(:title, "Contact")
%h1 Contact
%p
  Guru4u is the brainchild of Dr. Michael Verdicchio (AKA, "Dr. V")
  You can contact him at his Citadel Computer Science Department
  = link_to "http://www.citadel.edu/root/mathcs-directory/58-academics/schools/ssm/mathematics-and-computer-science/23884-michael-verdicchio" do
    home page
  \.