- provide(:title,"Help")
%h1 Help
%p
  Get help with Guru4u by contacting  
  = link_to "http://www.citadel.edu/root/mathcs-directory/58-academics/schools/ssm/mathematics-and-computer-science/23884-michael-verdicchio" do
    %em Dr. Michael Verdicchio
  \.
